@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Comfortaa|Dosis|Open+Sans+Condensed:300|Poiret+One|Rajdhani|Satisfy');
/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Poiret One', cursive;
 */
:root{
    --black-color:#262626;
    --pure-white:#ffffff;
    --web-white:#f2f2f2;
    --orange:#ff9108;
    --hover-white:#f2f2f2;
    --shadow-white:#cccccc;
    --blue-color:#002147;
}
body{
    background-color: var(--pure-white);
    color:var(--black-color);
    margin:0px;
}
.main{
    margin:0px;
    font-family: 'Rajdhani', sans-serif;
}
h1,h2,h3{
    font-weight: bold;
    text-align:left;
    font-size: 24px;
}
h2{
    font-size:22px;
}
h3{
    font-size:20px;
}
a{
    color:#000;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color:#002147;
}
hr{
    border: 0;
    height: 1px;
    width:80%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
table{
    text-align: center;
    border: 4px solid #fff;
    color:#b3b3b3;
}
td,tr{
    border: 1px solid #fff;
    text-align: center;
}
td:hover{
    background-color: #404040;
    cursor: pointer;
}
/*-- Header Menu --*/
.header-menu{
    width:100%;
    background-color: var(--blue-color);
}
.header-menu ul{
    list-style-type: none;
    margin:0px;
    padding:5px;
    text-align: center;
}
.header-menu li{
    display: inline;
    color:#f2f2f2;
    padding:5px;
    font-size: 14px;
    font-weight: bold;
}
.header-menu a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color:#f2f2f2;
}
/*-- Header logo --*/
.header-logo{
    width:100%;
    text-align: center;
}
.header-logo img{
    max-width:100%;
}
/*-- Navigation Menu --*/
.nav-menu{
    background-color: #002147;
    width:100%;
    margin:0px;
    padding:0px;
}
.nav-menu ul{
    list-style-type: none;
    margin:0px;
    padding:10px;
    text-align: center;
}
.nav-menu li{
    display: inline;
    color:#fff;
    padding:35px;
    font-size: 18px;
    font-weight: bold;
}
.nav-menu a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
/*-- Banner --*/
.banner{
    width:100%;
    opacity: 0.8;
    margin:0px;
    padding:0px;
    text-align: center;
    position: relative;
}
.banner p{
    font-size:1px;
    margin:0px;
    text-align: center;
    color:#ffffff;
    font-family: 'Rajdhani', sans-serif;
    transform: translate(0%, 100%);
}

.banner-button{
    position: absolute;
    width:auto;
    border:2px solid #fff;
    color:#fff;
    margin-top:400px;
    margin-left:45%;
    padding:20px;
    text-align: center;
}
.banner-button:hover{
    color:#000;
    background-color: #fff;
    cursor: pointer;
}
/**-- News Block --**/
.news{
    margin:40px 0px 40px 0px;
}
.news h2{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color:#333333;
}
.news-section{
    width:100%;
    height:auto;
    background-color: #fff;
    margin-bottom:30px;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.news-section-box{
    width:20%;
    position: relative;
    height:auto;
    background-color: #fff;
    float:left;
    margin:0px;
    box-sizing: border-box;
}
.news-section-box:hover{
    background-color: var(--hover-white);
    box-shadow: 0px 2px 2px 0px var(--shadow-white);
    cursor: pointer;
}
.news-section-box img{
    width:100%;
    height:auto;
}
.news-section-box p{
    font-size: 18px;
    padding:10px 5px 5px 10px;
    font-weight: italic;
}
/*-- Notice Section --*/
.notice{
    margin:0px;
    padding:0px;
    background-color: #f2f2f2;
}
.notice h2{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color:#333333;
    margin:0px;
    padding:30px 0px 30px 0px;
}
.notice-section{
    width:100%;
    height:auto;
    background-color: #f2f2f2;
    margin-bottom:0px;
    margin-top:20px;
    padding:0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.notice-section-box{
    width:40%;
    position: relative;
    height:auto;
    background-color: #f2f2f2;
    float:left;
    margin-bottom:80px;
    box-sizing: border-box;
    border-top:2px solid #004799;
}
.notice-section-box-heading{
    text-align: center;
    font-size:22px;
    padding:20px;
    border-left:3px solid #004799;
}
.notice-section-box li{
    list-style-type: none;
    font-size: 14px;
    padding:5px 5px 5px 0px;
}
.notice-section-box-link{
    text-align: center;
    background-color: #cccccc;
    width:100%;
    margin-top:20px;
}
.notice-section-box a{
    color:#oo2147;
    text-decoration: none;
}
.notice-important-links{
    width:80%;
    text-align: center;
    color:#fff;
    padding:10px;
    margin:20px 50px 20px 50px;
    border-collapse: collapse;
}
.red{
    background-color: #ff6666;
    border:1px solid #ff6666;
}
.black{
    background-color: #333333;
    border:1px solid #333333;
}
.blue{
    background-color: #002147;
    border:1px solid #002147;
}
.green{
    background-color: #4dffb8;
    border:1px solid #4dffb8;
}
.yellow{
    background-color: #ffeecc;
    border:1px solid #ffeecc;
}
.notice-important-links:hover{
    background-color: #f2f2f2;
    cursor: pointer;
    color:#000;
}
/*--- Events ---*/
.events{
    margin:0px;
    padding:0px;
    background-color: #fff;
}
.events h2{
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color:#800000;
    margin:0px;
    padding:30px 0px 30px 0px;
}
.events-section{
    width:100%;
    height:auto;
    background-color: #fff;
    margin-bottom:40px;
    margin-top:20px;
    padding:0px 100px 0px 100px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.events-section a{
    margin:0px;
    padding:0px;
}
.events-section-box{
    width:20%;
    position: relative;
    height:auto;
    background-color: #fff;
    float:left;
    text-align: center;
    box-sizing: border-box;
}
.events-section-date{
    font-size: 25px;
    padding:10px;
    border:4px solid #f3f3f3;
    color: #000;
    margin:20px;
    text-align: center;
}
.events-section-date:hover{
    border:4px solid #800000;
    cursor: pointer;
}
/*-- Footer --*/
.usocial{
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #262626;
}
.usocial a{
    color:#fff;
    font-size:22px;
}
.usocial h2{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    color:#fff;
    margin:0px;
    padding:30px 0px 30px 0px;
}
.usocial-section{
    width:100%;
    height:auto;
    margin-bottom:30px;
    margin-top:20px;
    padding:0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
/**-- Departments --*/
.department{
    width:100%;
    margin:0px;
    padding:30px 0px 30px 0px;
    background-color: #262626;
}
.department-section{
    width:100%;
    height:auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.department a{
    color:#b3b3b3;
    text-decoration: none;
}
.department a:hover{
    color:#fff;
}
.department table{
    text-align: center;
    border: 4px solid #fff;
    color:#b3b3b3;
}
.department td,tr{
    border: 1px solid #fff;
    text-align: center;
}
.department td:hover{
    background-color: #404040;
    cursor: pointer;
}
.department table {
    border-collapse: collapse;
    width: 70%;
}
.department th, td {
    padding: 15px;
}
.explore-section{
    width:100%;
    height:auto;
    margin:30px 0px 30px 0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.explore-form{
    width:90%;
    margin-left:20px;
    height:20px;
    font-size:22px;
    padding:10px;
    overflow: visible;
    border:0px;
    background-color: #262626;
    overflow: visible;
    color:#fff;
    border-bottom:1px solid #f4f4f4;
}
.explore-form:focus{
    background-color: #fff;
}
.explore-button{
    font-size:24px;
    border:0px;
    color:#fff;
    background-color: #262626;
    cursor: pointer;
}
.explore-button:hover{
    background-color: #404040;
    cursor: pointer;
}
/*- Footer Menu -*/
.footer{
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #fff;
}
.footer h2{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    color:#fff;
    margin:0px;
    padding:30px 0px 30px 0px;
}
.footer-section{
    width:100%;
    height:auto;
    margin-bottom:30px;
    margin-top:20px;
    padding:0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.footer-section-box{
    width:30%;
    position: relative;
    height:auto;
    background-color: #fff;
    float:left;
    text-align: left;
    box-sizing: border-box;
}
.footer-section ul{
    list-style-type: none;
    margin:0px;
    padding-left:100px;
    text-align: left;
}
.footer-section li{
    color:#b3b3b3;
    padding:5px;
    font-size: 14px;
}

/*-- Footer Social --*/
.footer-social{
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #262626;
}
.footer-social-section{
    width:100%;
    height:auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.footer-social-box{
    float:right;
    width:50%;
    padding-right: 50px;
}
.footer-social-box-l{
    float:left;
    width:50%;
    color:#fff;
    padding:20px;
}
.footer-social-section ul{
    list-style-type: none;
    margin:0px;
    text-align: right;
}
.footer-social-section li{
    color:#b3b3b3;
    display: inline-block;
    padding:10px;
    font-size: 14px;
}
.footer-social-section li:hover{
    color:#000000;
    background-color: #f2f2f2;
    display: inline-block;
    padding:10px;
    font-size: 14px;
}
.footer-social-section a{
    color:#fff;
}
.footer-social-section a:hover{
    color:#000000;
    background-color: #f2f2f2;
}
/*-- Over Vision --*/
.vision{
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #ffeecc;
    background-image: url('../images/back.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vision-section{
    width:100%;
    height:auto;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.vision-section h2{
    width:60%;
    font-size:52px;
    font-weight:normal;
    text-align: center;
    color:#fff;
    font-family: 'Poiret One', cursive;
}

/**-- Post Page Banner --**/
.post{
    width:100%;
    margin:0px;
    padding:0px;
}
.post-section{
    width:100%;
    height:auto;
    background-color: #f2f2f2;
    margin-bottom:0px;
    margin-top:0px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.post-content{
    width:60%;
    position: relative;
    height:auto;
    background-color: #fff;
    float:left;
    text-align: left;
    box-sizing: border-box;
    margin-top: -100px;
    padding:50px 20px 120px 40px;
    border-top-right-radius: 5px;
}
.sidebar-menu{
    width:30%;
    position: relative;
    height: auto;
    background-color: #fff;
    border-top-left-radius: 5px;
    float:left;
    text-align:left;
    margin-top:-100px;
    padding-top:50px;
    box-sizing: border-box;
}
.sidebar-menu a{
    font-size:22px;
    color: #b3b3b3;
    font-weight: bold;
    text-decoration: none;
}
.invi{
    float:left;
    width:10%;
}
.post p{
    font-size: 22px;
    padding:5px;
    color:#000;
}
.post h1{
    font-size: 42px;
    text-align: center;
}
.post h2{
    font-size:30px;
    font-weight: bold;
}
.post a{
    color:#000;
    font-size: 22px;
    text-decoration: none;
}
.post a:hover{
    color:#002147;
}
.post img{
    width:90%;
    border:1px solid #000;
}
.post ul{
    list-style-type: none;
}
.post li{
    font-size:22px;
    color: #b3b3b3;
    font-weight: bold;
}

/*-- News &amp; Blog Page --*/
.news-blog{
    width:100%;
    margin:0px;
    padding:0px;
}
.news-blog-section{
    width:100%;
    height:auto;
    background-color: #fff;
    margin:0px;
    box-sizing: border-box;
    padding:0px;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    overflow-y:hidden;
}
.news-blog-box{
    width:25%;
    position: relative;
    height:auto;
    background-color: #fff;
    float:left;
    text-align: left;
    box-sizing: border-box;
    margin: 0px;
}
.news-blog-box:hover{
    width:25%;
    position: relative;
    height:auto;
    background-color: #f2f2f2;
    float:left;
    text-align: left;
    box-sizing: border-box;
    margin: 0px;
}
.news-blog-box img{
    width:100%;
}
.headline{
    font-size:22px;
    font-weight: bold;
    padding:0px 8px 0px 8px;
}
.tag{
    font-weight: bold;
    width:auto;
    font-size: 15px;
    margin:0px;
    padding:0px 8px 0px 8px;
}
.link{
    padding:0px 8px 0px 8px;
}
.search-bar{
    width:90%;
    float: left;
    font-size: 32px;
    background-color: #fff;
    padding:32px;
    text-align: center;
    padding-top:20px;
}
.search-form{
    background-color: #fff;
    height:40px;
    width:70%;
    margin-left:20px;
    font-size:22px;
    padding:10px;
    overflow: hidden;
    border:0px;
    border-bottom:1px solid #f4f4f4;
}
.search-form:focus{
    background-color: #002147;
    color:#fff;
}
.submit-button{
    background-color: #fff;
    border: 1px solid #262626;
    padding:5px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.more-link{
    width:auto;
    background-color: #fff;
    border: 1px solid red;
    text-align: center;
    margin:30px;
    font-size: 28px;
}
.more-link:hover{
    background-color: red;
    cursor: pointer;
    transition: 3s;
}
.news-blog-content{
    width:70%;
    margin:40px;
    text-align:left;
    padding-left:40px;
    background-color: #fff;
}
.news-blog-content h2{
    font-size:45px;
    font-weight: bold;
    padding:10px;
}
.news-blog-content h3{
    font-size:32px;
    padding:10px;
}
.news-blog-content h4{
    font-size:25px;
    padding:10px;
}
.news-blog-content p{
    font-size: 20px;
    padding:10px;
}
.news-blog a{
    color:#000;
    font-size: 20px;
    text-decoration: underline;
    text-decoration: none;
}
.author{
    font-size:14px;
    padding-left:15px;
}
.author a{
    font-size: 14px;
}
.news-blog a:hover{
    color:#002147;
}
.news-blog img{
    width:100%;
}
.news-blog ul{

}
.news-blog li{
    font-size:22px;
    color: #b3b3b3;
    font-weight: bold;
}
.news-category{
    border:2px solid #f2f2f2;
    font-size:12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width:15%;
    display: inline-block;
    margin:30px 0px 10px 30px;
}
.news-category a{
    font-size: 12px;
}
.horizontal-line{
    border: 0;
    height: 1px;
    width:80%;
    margin:20px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/** Notice Page **/

.notice-page{
    width:auto;
    background-color: #fff;
    color: #262626;
    padding:40px;
    font-size:30px;
    text-align: center;
}
.notice-page ul{
    font-size: 16px;
    text-align: left;
    margin:40px;
    list-style-type: square;
}
.notice-page li{
    padding:10px;
    color:#800000;
}
.notice-page a{
    font-size: 24px;
    color:#262626;
}
.notice-page a:hover{
    color:#002147;
    font-size: 26px;
    transition: 1s;

}
.headlines{
    color:#fff;
    font-size: 302px;
}

/** Faculty **/
.faculty-box{
    width:100%;
    border:1px solid #fff;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin:0px;
    padding:0px;
    color:#000;
}

.faculty-img {
  float:left;
  width:30%;
  margin:0px;
  padding:0px;
}
.faculty-img img{
    width:100%;
    height: auto;
    margin:0px;
    padding:0px;
}
.faculty-details {
  display: block;
  float:left;
  width:60%;
  margin:0px;
  padding:0px;
}

.faculty-details  ul,li{
    list-style-type: none;
    color:#000;
    font-size: 12px;
}
.list li,a{
            color:#000;
            font-size:16px;
            font-weight: normal;
        }

/** Developers **/

*, *:before, *:after {
  box-sizing: inherit;
}
.row{
    margin:60px;
    animation-name: change;
    animation-duration: 8s;
}

.developers {
  float: left;
  width: 26%;
  margin:40px;
  padding: 0 8px;
}
.developers:hover{
    cursor: pointer;
}
.developers img{
    border-radius: 50%;
    height:300px;
}
@keyframes change{
    from {background-color: #ccffff;}
    to   {background-color: #fff;}
}

.container {
  padding: 0 10px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.developers p{
    margin:10px;
    padding:0px 0px 0px 10px;
}
.developers h2{
    margin:10px;
    padding-right: 10px;
    font-size: 24px;
}
.developers ul{
    list-style-type: none;
    text-align: center;
}
.developers li{
    display: inline-block;
    padding-right: 10px;
}